---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import { dateRange } from "@lib/utils";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post: CollectionEntry<"blog">) => !post.data.draft)
  .sort((a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.date.valueOf() - a.data.date.valueOf(),
  )
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project: CollectionEntry<"projects">) => !project.data.draft)
  .sort((a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) =>
    b.data.date.valueOf() - a.data.date.valueOf(),
  )
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort(
    (a: CollectionEntry<"work">, b: CollectionEntry<"work">) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf(),
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item: CollectionEntry<"work">) => {
    const { Content } = await item.render();
    return { ...item, Content };
  }),
);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">
        Hello there! 👋
      </h1>
      <div class="space-y-16">
        <section id="intro">
          <article class="space-y-4">
            <span>
              <p>
                Welcome to my corner of the web! I'm Bradley, and I've always been passionate about
                computers and coding. I love creating websites that are not just functional
                but also visually appealing. When I'm not building sites,
                you'll find me tinkering with computer hardware, exploring
                homelab projects, and diving into networking adventures.
                Whether it's crafting a website or diving into
                some tech tinkering, I’m here to share my journey and discoveries with you.
              </p>
              <blockquote>
                "Whatever you do, do it well."
                <cite class="text-sm opacity-75">- Walt Disney</cite>
              </blockquote>
            </span>
          </article>
        </section>

        <section id="latest-posts" class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Blog
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section id="recent-projects" class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Projects
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section>

        <section id="work-experience" class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h5 class="font-semibold text-black dark:text-white">
              Work Experience
            </h5>
          </div>
          <ul class="flex flex-col space-y-4">
            {
              work.map((entry) => (
                <li>
                  <div class="text-sm opacity-75">
                    {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                  </div>
                  <div class="font-semibold text-black dark:text-white">
                    {entry.data.company}
                  </div>
                  <div class="text-sm opacity-75">{entry.data.role}</div>
                  <article>
                    <entry.Content />
                  </article>
                </li>
              ))
            }
          </ul>
        </section>

        <section id="lets-connect" class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Let's Connect
          </h2>
          <article>
            <p>
              I’m always thrilled to connect with fellow developers!
              Whether you have questions, are interested in collaborating,
              or just want to say hi, don’t hesitate to get in touch.
            </p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
